*.o
*.ko
*.obj
*.elf

*.gch
*.pch

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dSYM/
Pathfinder-Java/build/
Pathfinder-Java/out/
Pathfinder-Java/src/test/
*.csv
Pathfinder-Java/.gradle/
Pathfinder-Core/build/
test/build
.gradle/
out/
.idea
build/

.vscode/

*.lvlps

*.aliases

*.iml
*.ipr
*.iws

*.project
*.settings
*.classpath
bin/